<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Musictify</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/styles.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-success ">
            <div class="container px-5">
                <a class="navbar-brand" href="index.html">Musictify</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="HomePage.html">Anasayfa</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="AlbumPage">Albümler</a></li>
                        <li class="nav-item"><a class="nav-link"asp-controller="SingerPage">Sanatçılar</a></li>
                        <li class="nav-item"><a class="nav-link" href="PlaylistPage.html">Çalma Listeleri</a></li>
                        <li class="nav-item"><a class="nav-link" href="CategoryPage.html">Türler</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Giriş</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Üye Girişi</a>
                                <a class="dropdown-item" href="#">Kayıt Ol</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin Paneli</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Album">Album</a>
                                <a class="dropdown-item" asp-controller="Category">Category</a>
                                <a class="dropdown-item" asp-controller="CD">CD</a>
                                <a class="dropdown-item" asp-controller="Concert">Concert</a>
                                <a class="dropdown-item" asp-controller="ConcertSinger">ConcertSinger</a>
                                <a class="dropdown-item" asp-controller="ConcertTickets">ConcertTickets</a>
                                <a class="dropdown-item" asp-controller="Playlist">Playlist</a>
                                <a class="dropdown-item" asp-controller="PlaylistSongs">PlaylistSongs</a>
                                <a class="dropdown-item" asp-controller="Shop">Shop</a>
                                <a class="dropdown-item" asp-controller="Singer">Singer</a>
                                <a class="dropdown-item" asp-controller="SingerAlbum">SingerAlbum</a>
                                <a class="dropdown-item" asp-controller="SingerSongs">SingerSongs</a>
                                <a class="dropdown-item" asp-controller="Songs">Songs</a>
                                <a class="dropdown-item" asp-controller="Stadium">Stadium</a>
                                <a class="dropdown-item" asp-controller="TicketPricing">TicketPricing</a>
                                <a class="dropdown-item" asp-controller="Tickets">Tickets</a>
                                <a class="dropdown-item" asp-controller="Vinyl">Vinyl</a>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-success py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; 2021 - Musictify</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
