

@model IEnumerable<Musictify.Models.AlbumSongs>

@{
    ViewData["Title"] = "Details";
}
<br />
<br />
<center><h1>Songs in this Album</h1></center>
<hr />
<center>
    <font size="15">
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>  @item.SongsDetails.SongsName</td>
                </tr>
            }
        </table>
    </font>
</center>

