@model Musictify.Models.Album

@{
    ViewData["Title"] = "Details";
}

<div class="container px-5 my-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 text-center mb-5">
            <div class="img-container">
                <img class="img-fluid rounded-3 mb-3" src=@Html.DisplayFor(model => model.ImageUrl) width="275" height="275">
            </div>
        </div>
        <div class="col-lg-9 col-md-8">
            <div class="member_designation">
                <h1 style=font-size:100px class="h1 fw-bolder text"> @Html.DisplayFor(model => model.AlbumName)</h1>
                @*<h1 class="h1 fw-bolder text">@Html.DisplayFor(model => model.Singer.SingerName)</h1>
        şarkı listesi*@
                <h3>@Html.DisplayFor(model => model.ReleaseDate)</h3>
            </div>
        </div>
    </div>
</div>
